body{
    background-color: #e2eceb;
    display: flex;
    position: relative;
}

.menu{
    background-color: #425c5a;
    width: 560px;
    height: 890px;
    border-radius: 30px;
    display: flex;
    align-items: center; 
    margin-right:30px; 
}

.tarjeta{
    width: 360px;
    height: 160px;
    border-radius: 30px;
    display: flex;
    align-items: flex-start; 
    margin:30px;
    
}

.tarjeta-doble{
    width: 740px;
    height: 320px;
    top: 190px;
    left: 390px;
    background-color: white;
}




